{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Blog{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <script src="{{ asset('js/app.js') }}" defer></script>
    </head>
    <body>
        <header>
            {% include 'partials/header.html.twig' %}
        </header>

        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    {# {% include 'partials/sidebar.html.twig' %} #}
                </aside>
                <main class="col-md-9">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>

        <footer>
            {% include 'partials/footer.html.twig' %}
        </footer>
    </body>
</html>
